{% extends 'base.html' %}

{% block body %}
    <div id="container" class="cls-container">
        <div id="bg-overlay" class="bg-img img-balloon"></div>
        <div class="cls-header cls-header-lg">
            <div class="cls-brand">
                <a class="box-inline" href="../index.html">
                    {#                    <img alt="Nifty Admin" src="img/logo.png" class="brand-icon">#}
                    <span class="brand-title">CRM <span class="text-thin">master</span></span>
                </a>
            </div>
        </div>

        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <p class="pad-btm">修改密码</p>
                    <form method="post" novalidate>{% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">{{ field.label }}</div>
                                    {{ field }}
                                </div>
                                <span style="color: red">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}
                        <span style="color: red">{{ form.non_field_errors }}</span>

                        <div class="form-group text-right">
                            <button class="btn btn-success form-control" type="submit">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
