{% extends 'general_admin/base.html' %}
{% load order %}
{% load filter %}
{% load display %}
{% block css %}
    {{ block.super }}
{% endblock css %}
{% block body %}
    <div class="breadcrumbs">
        <a href="/generalAdmin/">首页</a>
        &rsaquo; <a href="/generalAdmin/{{ app_name }}/">{{ app_name|capfirst }}</a>
        &rsaquo; <a href="/generalAdmin/{{ app_name }}/{{ cls_name }}">{{ cls_verbose_name }}</a>
        &rsaquo; {{ model_obj }}
        &rsaquo; 重置密码
    </div>

    <div class='page-header'>
        <h3>重置 {{ model_obj }} 密码</h3>
    </div>


    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div>
                <label class="field-label" for=''>注册邮箱:</label>
                <div>{{ model_obj.email }}</div>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label class="field-label" for=''>用户名:</label>
                <div>{{ model_obj.username }}</div>
            </div>
        </div>
        {% for field in form %}
            <div class="form-row">
                <label class="field-label" for="id_{{ field.name }}">{{ field.label }}:</label>
                {{ field }}
                <div class="help-text">{{ field.help_text | safe }}</div>
                <div class="error">{{ field.errors.0 }}</div>
            </div>
        {% endfor %}

        <div class="submit-row">
            <input type="submit" value="保存" class="default pull-right btn" name="save"/>
        </div>
    </form>
{% endblock body %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">


        // 以下函数是多对多添加新对象时打开新窗口
        function PopUpWindow(link) {
            var h_wnd = window.open(link, 'newwindow', 'height=550, width=800, top=0, left=0, toolbar=no, ' +
                'menubar=no, scrollbars=no, resizable=no, location=no, status=no');
            h_wnd.window.focus();
        }


        function ResetCallback() {
            window.opener.location.reload();
            window.close()
        }

        {% if success_flag %}
            ResetCallback();
        {% endif %}
    </script>
{% endblock js %}

